extends ../shared/template
block top_nav
	h2 New Transfer
	h3 #{account.name}'s #{account.accountType} account
	h3 Current Balance: #{account.balance}
	hr
	form(method="post" action="/account/#{account._id}/transfer")
		label From #{account.name}
		select(name="toId")
			each destination in destinations
				option(value="#{destination._id}")= destination.name
		label PIN #
		input(type="number" name="pin")
		label Amount
		input(type="number" name="amount")
		input(type="hidden" name="fromId" value="#{account._id}")
		button Submit